In [13]:
def cost_of_projects(engraving, solid_gold):
    cost = (solid_gold * (100 + 10 * (len(engraving)))) + ((not solid_gold) * (50 + 7 * (len(engraving))))
    return cost

In [14]:
cost_of_projects("08/10/2000", False)

120

In [41]:
def cost_of_projects_new(engraving, solid_gold):
    if solid_gold == True:
        cost = 100 + 10*(len(engraving))
    else:
        cost = 50 + 7*(len(engraving))
    return cost

In [42]:
cost_of_projects_new("08/10/2000", False)

120

In [16]:
def evaluate_temp(temp):
    message = "Normal temperature."
    if temp > 38:
        message = "Fever!"
    return message

In [19]:
evaluate_temp(55)
evaluate_temp(36)

'Normal temperature.'

In [20]:
def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

In [24]:
evaluate_temp_with_else(38.1)

'Fever!'

In [25]:
def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Temperature is normal."
    else:
        message = "Low temperature!"
    return message

In [28]:
evaluate_temp_with_elif(34)

'Low temperature!'

In [29]:
def australian_tax_calc(salary):
    if salary > 190000:
        tax = 51,638 + 0.45 * (salary - 190000)
    elif salary > 135000:
        tax = 31288 + 0.37 * (salary - 135000)
    elif salary > 45000:
        tax = 4288 + 0.30 * (salary - 45000)
    elif salary > 18200:
        tax = 0.16 * salary
    else:
        tax = 0
    return tax

In [32]:
australian_tax_calc(130000)

29788.0

In [33]:
def get_grade(score):
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    elif score >= 60:
        grade = "D"
    else:
        grade = "F"
    return grade

In [36]:
get_grade(87)

'B'

In [1]:
def greet(name):
    return f"Hello, {name}!"

In [3]:
print(greet("Arjun"))

Hello, Arjun!

In [6]:
def greet2(name):
    return "Hello, " + name + "!"

In [5]:
print(greet2("Arjun"))

Hello, Arjun!